<module>
	<rawname>missedcallnotify</rawname>
	<type>setup</type>
	<name>Missed Call Notifications</name>
	<version>0.2</version>
	<publisher>TSM</publisher>
	<license>GPLv2+</license>
	<category>Applications</category>
	<changelog>
		*0.2* Change minimum requirements, update module.xml
		*0.1* New
	</changelog>
	<description>This will allow notifications to be sent to users if they have missed a call.
	</description>
	<depends>
		<engine>asterisk 1.8</engine>
		<version>ge2.9</version>
		<module>core</module>
	</depends>
	<location>contributed_modules/release/missedcallnotify-0.2.tgz</location>
	<md5sum>53c99121fcdb427d1ec5d44e36a797f5</md5sum>
</module>
