<module>
	<rawname>missedcallnotify</rawname>
	<type>setup</type>
	<name>Missed Call Notifications</name>
	<version>0.5</version>
	<publisher>TSM</publisher>
	<license>GPLv2+</license>
	<category>Applications</category>
	<changelog>
                *0.5* Fix issue with non space padded extension when altering dialplan directly for fw>=2.10.1.4
                *0.4* Fix issue when FW was enabled email would end up on ringing exten instead of intended exten
		*0.3* Fix error in app category
		*0.2* Change minimum requirements, update module.xml
		*0.1* New
	</changelog>
	<description>This will allow notifications to be sent to users if they have missed a call.
	</description>
	<depends>
		<engine>asterisk 1.8</engine>
		<version>ge2.10</version>
		<module>core</module>
	</depends>
	<location>contributed_modules/release/missedcallnotify-0.5.tgz</location>
	<md5sum>ed8c578b42531311b609f7b1ccceb140</md5sum>
</module>
